<%= form_for(@incoming_mail, :html =>{ :multipart=>true}) do |f| %>
<div class="field">
<table>
	<tr>
		<td>Nomor Surat</td><td><%= f.text_field :code, :class => "input" %></td>
	</tr>
	<tr>
		<td>Dari</td><td><%= f.text_field :from , :class => "input" %></td>
	</tr>
	<tr>
		<td>Untuk</td><td><%= f.text_field :to , :class => "input"%></td>
	</tr>
	<tr>
		<td>Perihal</td><td><%= f.text_field :concern , :class => "input"%></td>
	</tr>
	<tr>
		<td>Disposisi</td><td><%= f.text_field :disposition , :class => "input"%></td>
	</tr>
	<tr>
		<td>Tanggal</td><td><%= f.text_field :date , :class => "input" %></td>
	</tr>
	<tr>
		<td>Keterangan</td><td><%= f.text_area :explanation, :cols=>35, :rows=>6 , :class => "input"%></td>
	</tr>
	<tr>
		<td>File</td><td><%= f.file_field :attachment %></td>
	</tr>
	<tr>
		<td><%= f.submit %> </td><td><%= link_to 'Back', incoming_mails_path,:class=>'button' %></td>
	</tr>
</table>
</div>
<% end %>
