<h1>Generate Nomor Surat</h1>
<div id="content">
<%= form_for(@generator, :url =>{:action =>"generate"}) do |f| %>
	<table>
	<tr>
		<td>Divisi</td>
		<td><%= f.collection_select :division, Division.all, :code, :name, {:prompt=>"-Pilih dahulu-"}, {:class=>'select'} %></td>
	</tr>
	<tr>
		<td>Kode Perihal</td>
		<td><%= f.text_field :code ,:class=>"input"%></td>
	</tr>
<!--	<tr>
		<td><%= f.submit nil, :id => "btn_submit" %> </td><td><%= button_tag(value="Reset", :type => 'reset',:class=>"button") %></td>
	</tr>-->
	</table>
<% end %>
<div id="result">
<%= @number%>
</div>
</div>